*{
    box-sizing: border-box;
    font-family: 'Bitter', serif;
}

header{
    width: 100%;
    height: 15vh;
    margin: auto;
    background-color: #F7DC6F;
    display: flex; 
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
}

#title{
    text-align: center;
    color: seagreen;
    text-shadow: aliceblue;
}

#description{
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#survey-form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
  }
input[type="text"],
input[type="email"],
input[type="number"],
input[type="checkbox"],
input[type="number"],
textarea,
select{
    width: 100%;
    margin: 5px 0 10px 0;
    padding: 10px;
    color: #8a97a0;
  }

  select{
    padding: 6px;
    width: 100%;
    height: 40px;
    border-radius: 2px;
  }

  label{
    display: block;
    margin-bottom: 5px;
  }

input[type="radio"],
input[type="checkbox"]{
    margin: 0 4px 10px 0;
    width: auto;
}

.checkbx-label{
    display: inline-block;
    margin: 10px 0 10px 0;
}

button{
    width: 50%;
    margin: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: seagreen;
    background-color: #F7DC6F;

}


@media screen and (min-width: 480px) {

    #survey-form {
      max-width: 480px;
    }
  
  }

@media screen and (min-width: 800px) {

    #survey-form {
      max-width: 600px;
    }
  
  }

